
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>后台管理</title>
		<!-- load css -->
		<link rel="stylesheet" href="/static/css/base.css">
		<!-- IE8 fixed -->
		<!--[if lt IE 9]>
		<link rel="stylesheet" href="/static/css/iefix.css">
		<![endif]-->
		<link rel="stylesheet" href="/static/admin/css/common.css">
		<link rel="stylesheet" href="/static/js/lib/zTree/css/ibos/ibos.css" />
		<link rel="stylesheet" href="/static/js/lib/Select2/select2.css" />
		<link rel="stylesheet" href="/static/js/lib/artDialog/skins/ibos.css" />
		<script>
						var G = {
				VERHASH: 'k',
				SITE_URL: 'http://ibos/',
				STATIC_URL: '/static'
				
			};
		</script>
		<!-- 核心库类 -->
		<script src='/static/js/core.js'></script>
		<!-- 语言包 -->
		<script src='/static/js/lang/zh-cn.js'></script>
		<script src='/static/js/base.js'></script>
		<script src='/static/js/lib/artDialog/artDialog.min.js'></script>
		<script src='/static/js/lib/zTree/jquery.ztree.all-3.5.min.js'></script>
		<script src='/static/js/lib/Select2/select2.js'></script>
		
		<script src='/static/js/common.js'></script>		
		<script src='/static/js/application.js'></script>		
	</head>
	<body>
	 <block name="main"></block>
	</body>
</html>